.title {
    text-align: center;
}

.button-container {
    width: 280px;
    overflow-y: auto;
    margin: 0 auto;
}

.button-container > button {
    width: 60px;
    height: 60px;
    float: left;
    margin: 5px 5px;
    border: 0;
    background-size: contain;
}

.kyj {
    background: url( "asset/kyj.png" ) no-repeat;
}
.kmg {
    background: url( "asset/kmg.png" ) no-repeat;
}
.ksj {
    background: url( "asset/ksj.png" ) no-repeat;
}
.kjy {
    background: url( "asset/kjy.png" ) no-repeat;
}
.pjk {
    background: url( "asset/pjk.png" ) no-repeat;
}
.sms {
    background: url( "asset/sms.png" ) no-repeat;
}
.ajy {
    background: url( "asset/ajy.png" ) no-repeat;
}
.pbj {
    background: url( "asset/pbj.png" ) no-repeat;
}