.title {
    text-align: center;
}

#board {
    overflow-y: auto;
    margin: 0 auto;
}

#board > button {
    float: left;
    margin: 1%;
    border: 0;
    background-size: contain;
}

.kyj {
    background: linear-gradient(0deg, rgba(255, 170, 185, 0.2), rgba(255, 170, 185, 0.2)), url( "asset/kyj.png" ) no-repeat;
}
.kmg {
    background: linear-gradient(0deg, rgba(250, 200, 150, 0.2), rgba(250, 200, 150, 0.2)), url( "asset/kmg.png" ) no-repeat;
}
.ksj {
    background: linear-gradient(0deg, rgba(185, 170, 255, 0.2), rgba(185, 170, 255, 0.2)), url( "asset/ksj.png" ) no-repeat;
}
.kjy {
    background: linear-gradient(0deg, rgba(164, 230, 164, 0.2), rgba(164, 230, 164, 0.2)), url( "asset/kjy.png" ) no-repeat;
}
.pjk {
    background: linear-gradient(0deg, rgba(220, 160, 250, 0.2), rgba(220, 160, 250, 0.2)), url( "asset/pjk.png" ) no-repeat;
}
.sms {
    background: linear-gradient(0deg, rgba(255, 170, 210, 0.2), rgba(255, 170, 210, 0.2)), url( "asset/sms.png" ) no-repeat;
}
.ajy {
    background: linear-gradient(0deg, rgba(240, 206, 190, 0.2), rgba(240, 206, 190, 0.2)), url( "asset/ajy.png" ) no-repeat;
}
.pbj {
    background: linear-gradient(0deg, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2)), url( "asset/pbj.png" ) no-repeat;
}